body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

#map-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

#map {
    flex: 1;
}

#text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#totals {
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
}

#details {
    flex: 1;
    overflow-y: auto; /* Enable scrolling */
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}


@media only screen and (max-width: 1024px) {
    #map-container {
        flex-direction: column;
        width: 100%;
    }

    #text-container {
        height: 50%; /* Ensure text-container takes full height */
    }

    #details {
        height: 100%; /* Ensure details takes full height */
        overflow-y: auto; /* Enable scrolling */
        margin-bottom: 10px;
    }

    #totals {
        align-items: flex-start;
    }
}

svg {
    position: absolute;
}

.selected {
    fill: yellow;
}

.next-node {
    fill: red;
}

.selected-line {
    stroke: black;
    stroke-width: 4;
    fill: none;
}

.next-line {
    stroke: red;
    stroke-width: 2;
    fill: none;
}

.dotted-line {
    stroke: gray;
    stroke-dasharray: 1, 2;
    fill: none;
}

.tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    z-index: 1000;
}
