body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

#map-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

#map {
    flex: 1;
}

#details {
    flex: 1;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #map-container {
        flex-direction: column;
        width: 100%;
    }

    #details {
        height: 100vh;
        overflow-y: scroll;
    }
}

svg {
    position: absolute;
}

.selected {
    fill: yellow;
}

.next-node {
    fill: red;
}

.selected-line {
    stroke: black;
    stroke-width: 4;
    fill: none;
}

.next-line {
    stroke: red;
    stroke-width: 2;
    fill: none;
}

.dotted-line {
    stroke: gray;
    stroke-dasharray: 1, 2;
    fill: none;
}

.tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    z-index: 1000;
}