<!DOCTYPE html>
<html lang="en">

{% load static %}
{{ map_data|json_script:"map_data" }}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BVI Interactive Itinerary</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/itinerary_styles.css' %}">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'js/itinerary_routing.js' %}"></script>
    
</head>
<body>

    <div id="map-container">
        <div id="map"></div>
        <div id="text-container">
            <div id="totals"></div>
            <div id="details"></div>
        </div>
    </div>
    
</body>
</html>
